In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('Train_Loan_Home.csv')

In [4]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
columnsX=data.columns[1:-1]
columnsY=data.columns[-1]

In [7]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
catCol=['Gender','Married','Education','Self_Employed','Property_Area','Dependents']
numWithScalingCol=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
numerCol=['Credit_History']

In [11]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn import ensemble

In [14]:
numeric_transformer_scaling=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())])
numeric_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='constant',fill_value=99))])
categorical_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='constant',fill_value='missing')),
    ('onehot',OneHotEncoder(handle_unknown='ignore'))
])

preprocessor=ColumnTransformer(
  transformers=[
      ('num',numeric_transformer_scaling,numWithScalingCol),
      ('num2',numeric_transformer,numerCol),
      ('cat',categorical_transformer,catCol)])

In [15]:
modelPipeline=Pipeline(steps=[('preprocessor',preprocessor),
                             ('classifier',ensemble.RandomForestClassifier())])

In [16]:
modelPipeline.fit(data[columnsX],data[columnsY])

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['ApplicantIncome',
                                                   'CoapplicantIncome',
                                                   'LoanAmount',
                                                   'Loan_Amount_Term']),
                                                 ('num2',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value=99,
                                                                                 strategy='constant'))]),
                                                  ['Credit_History']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Gender', 'Married',
                                                   'Education', 'Self_Employed',
                                                   'Property_Area',
                                                   'Dependents'])])),
                ('classifier', RandomForestClassifier())])

In [17]:
scores=modelPipeline.predict_proba(data[columnsX])[:,-1]

In [20]:
scores

array([0.82, 0.86, 0.8 , 0.75, 0.51, 0.66, 0.65, 0.2 , 0.83, 0.95, 0.54,
       0.8 , 0.77, 0.26, 0.79, 0.93, 0.79, 0.89, 0.71, 0.73, 0.89, 0.49,
       0.35, 0.69, 0.7 , 0.41, 0.82, 0.63, 0.89, 0.83, 0.88, 0.99, 0.72,
       0.8 , 0.94, 0.19, 0.83, 0.92, 0.78, 0.82, 0.83, 0.84, 0.87, 0.69,
       0.82, 0.68, 0.67, 0.94, 0.76, 0.65, 0.81, 0.83, 0.58, 0.94, 0.81,
       0.18, 0.84, 0.92, 0.23, 0.88, 0.96, 0.91, 0.63, 0.21, 0.59, 0.99,
       0.14, 0.12, 0.63, 0.28, 0.81, 0.93, 0.74, 0.81, 0.77, 0.74, 0.74,
       0.76, 0.71, 0.64, 0.38, 0.65, 0.15, 0.63, 0.34, 0.81, 0.78, 0.92,
       0.84, 0.43, 0.88, 0.8 , 0.86, 0.79, 0.19, 0.71, 0.79, 0.96, 0.59,
       0.49, 0.96, 0.16, 0.64, 0.47, 0.87, 0.88, 0.11, 0.82, 0.94, 0.52,
       0.81, 0.9 , 0.91, 0.94, 0.85, 0.63, 0.7 , 0.33, 0.16, 0.27, 0.77,
       0.96, 0.88, 0.4 , 0.18, 0.76, 0.14, 0.94, 0.77, 0.92, 0.91, 0.78,
       0.75, 0.82, 0.61, 0.88, 0.78, 0.62, 0.68, 0.89, 0.63, 0.83, 0.29,
       0.78, 0.81, 0.85, 0.76, 0.26, 0.95, 0.99, 0.67, 0.93, 0.98, 0.2 ,
       0.72, 0.68, 0.81, 0.5 , 0.71, 0.36, 0.8 , 0.24, 0.93, 0.88, 0.6 ,
       0.23, 0.12, 0.95, 0.31, 0.47, 0.88, 0.62, 0.81, 0.32, 0.17, 0.88,
       0.73, 0.9 , 0.76, 0.73, 0.91, 0.88, 0.53, 0.51, 0.89, 0.74, 0.84,
       0.95, 0.43, 0.71, 0.55, 0.78, 0.26, 0.17, 0.56, 0.78, 0.1 , 0.8 ,
       0.16, 0.89, 0.64, 0.72, 0.93, 0.98, 0.86, 1.  , 0.7 , 0.88, 0.8 ,
       0.49, 0.63, 0.31, 0.83, 0.96, 0.83, 0.65, 0.74, 0.65, 0.73, 0.8 ,
       0.96, 0.75, 0.64, 0.7 , 0.34, 0.76, 1.  , 0.68, 0.81, 0.17, 0.6 ,
       0.59, 0.76, 0.69, 0.66, 0.25, 0.29, 0.6 , 0.97, 0.34, 0.66, 0.1 ,
       0.99, 0.29, 0.91, 0.25, 0.85, 0.93, 0.49, 0.71, 0.24, 0.88, 0.78,
       0.89, 0.7 , 0.26, 0.34, 0.84, 0.97, 0.58, 0.74, 0.94, 0.68, 0.61,
       0.71, 0.69, 0.23, 0.7 , 0.29, 0.77, 0.59, 0.61, 0.51, 0.22, 0.1 ,
       0.86, 0.82, 0.63, 0.21, 0.52, 0.79, 0.84, 0.88, 0.49, 0.56, 0.71,
       0.83, 0.7 , 0.98, 0.83, 0.91, 0.85, 0.5 , 0.16, 0.7 , 0.77, 0.78,
       0.47, 0.96, 0.81, 0.65, 0.15, 0.59, 0.7 , 0.98, 0.67, 0.84, 0.7 ,
       0.87, 0.94, 0.99, 0.34, 0.75, 0.75, 0.81, 0.84, 0.35, 0.12, 0.61,
       0.86, 0.61, 0.62, 0.75, 0.66, 0.82, 0.32, 0.8 , 0.78, 0.94, 0.84,
       0.81, 0.78, 0.66, 0.81, 0.91, 0.65, 0.79, 0.95, 0.68, 0.38, 0.77,
       0.86, 0.28, 0.56, 0.9 , 0.8 , 0.15, 0.63, 0.89, 0.85, 0.79, 0.55,
       0.83, 0.86, 0.28, 0.89, 0.76, 0.87, 0.6 , 0.85, 0.58, 0.99, 0.82,
       0.84, 0.64, 0.57, 0.71])

In [18]:
data2=pd.read_csv('Test_Loan_Home.csv')

In [19]:
scores=modelPipeline.predict_proba(data2[columnsX])[:,-1]

In [ ]:
scoreOutput={j:k for j,k in zip(data2['Loan_ID'],scores)}

In [21]:
import joblib
joblib.dump(modelPipeline,'modelPipeline.pkl')

['modelPipeline.pkl']